<a href="https://colab.research.google.com/github/ShareAndShine/Lemalabs/blob/main/Classification_Supervised_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
path = '/gdrive/My Drive/Online_ML : Aug 2021/data/'

In [13]:
data = pd.read_csv(path+'paint_mnist.csv', header=None); # Header = none as we do not have column header in the excel
data.head() # Also remember first column is ouput

   0    1    2    3    4    5    6    ...  778  779  780  781  782  783  784
0    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
1    1    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
2    3    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
3    1    0    0    0    0    0    0  ...    0    0    0    0    0    0    0
4    0    0    0    0    0    0    0  ...    0    0    0    0    0    0    0

[5 rows x 785 columns]

In [14]:
data.shape # To get total data size the above raw_head will not show all data. Now, we have data size 3599 rows  785 columns

(3599, 785)

In [24]:
cols = data.shape[1] # get all total columns size 
x = np.array(data.iloc[:, 1:cols]) # prepare input i.e get all rows , start from 1 until the last column 
y = np.array(data.iloc[:, 0:1]) # prepare ouptut i.e get all rows and column 1 as we have  expected output stored in column 1

In [25]:
x.shape, y.shape

((3599, 784), (3599, 1))

In [29]:
b = np.unique(y)

In [27]:
np.unique(x)

array([  0, 255])

In [31]:
classes = b.size
classes

4

In [39]:
# Separate inputs and Outputs
# Introduce X0 which is biased column with constant 1
# Get theta matrix created

from sklearn.model_selection import train_test_split #use this lib to split records into train and test and use it for model prediction accuracy. This is a general appraoch followed in ML
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25, random_state=2) # test_size = 0.25 is used to take 25% of overall data for testing. random_state will pick random rows for test and train
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((2024, 786), (675, 786), (2024, 1), (675, 1))

In [35]:
 x = np.array(x_train) #convert into array
 y = np.array(y_train)

In [37]:
# Introduce X0 which is biased column with constant 1

rows = x.shape[0]
x = np.insert(x,0, values = np.ones(rows), axis =1)
x.shape

(2699, 786)

In [40]:
# Get theta matrix created
params = x.shape[1]
all_theta = np.zeros((classes, params)) # 4 rows and 786 columns and load all zeros to beign with. Later we can change theta and predict the output
all_theta.shape

(4, 786)

In [42]:
def sigmoid(z):
  return (1/(1+np.exp(-z)))

In [49]:
#print(sigmoid(20000))

In [59]:
def computeCost(x,y, theta):  #Cost function
  theta = np.matrix(theta)
  x = np.matrix(x)
  y = np.matrix(y)

  first = np.multiply(-y, np.log(sigmoid( x * theta.T)))
  second = np.multiply((1-y),(np.log(sigmoid(x*theta.T))))

  cost = np.sum(first -second)
  cost = cost/(2*len(x))
  return cost

In [60]:
#print(x.shape) #playing with train data
computeCost(x,y,all_theta)

(2699, 786)

1.3862943611198906

In [68]:
# GRadient Function
learning_rate = 2
def gradient(x,y,theta):
  theta = np.matrix(theta)
  x = np.matrix(x)
  y = np.matrix(y)

  error = sigmoid(x*theta.T)
  grad = ((x.T * error) / len(x))
  grad = grad * learning_rate 
  return grad

In [70]:
gradient(x,y,all_theta)

matrix([[1.        , 1.        , 1.        , 1.        ],
        [1.        , 1.        , 1.        , 1.        ],
        [0.        , 0.        , 0.        , 0.        ],
        ...,
        [0.75583549, 0.75583549, 0.75583549, 0.75583549],
        [0.47239718, 0.47239718, 0.47239718, 0.47239718],
        [0.47239718, 0.47239718, 0.47239718, 0.47239718]])

In [69]:
xyz = gradient(x,y,all_theta)
print(xyz.shape)

(786, 4)